In [1]:
import json
from sklearn.model_selection import train_test_split
from transformers import BertTokenizer, BertForSequenceClassification
import torch

# Load the JSON data
with open(r"C:\Users\HP-User\Downloads\dataset_final.json", 'r') as f:
    data = json.load(f)

In [2]:
import pandas as pd

# Create empty lists to store the data
sids = []
post_descriptions = []
interests = []

# Iterate over each sid and its data
for sid, sid_data in data.items():
    sids.append(sid)
    
    # Combine post descriptions into a single string
    descriptions = ' '.join(post_data['description'] for post_data in sid_data['posts'].values())
    post_descriptions.append(descriptions)
    
    interests.append(sid_data['interests'])

# Create a DataFrame
df = pd.DataFrame({
    'sid': sids,
    'posts': post_descriptions,
    'interests': interests
})

# Display the DataFrame
print(df)

               sid                                              posts  \
0     sid : 324309  roti chickenswarma pita falafel nycfoodgals ro...
1     sid : 324470  crepemaster 5th avenue 125th 124th closing sad...
2     sid : 324673  purple people bridge take tastes little like e...
3     sid : 324728  dover fwends thebookinghall big night ouuuuuuu...
4     sid : 324945  dead meme flavor anyonenncr sixtles via twitte...
..             ...                                                ...
280   sid : 357066  know go back shooting outfits soon saved phone...
281  sid : 3571213            glove able get fairly close bird fli...
282  sid : 3572469  lichen encrusted bench photobombed passing bir...
283  sid : 3573923  afternoon much ado tolethorpe wonderful tis se...
284  sid : 3577934  theres lots giving lent think thats brilliant ...

                           interests
0           [FOOD, COOKING, CUISINE]
1             [FOOD, CURRENT EVENTS]
2     [COOKING, CUISINE, FRIENDSHIP]
3       [MUSIC, LIVE EVENTS, TRAVEL]
4               [ADVERTISING, SALES]
..                               ...
280  [CLOTHING, FASHION ACCESSORIES]
281                 [ARTS AND MUSIC]
282                 [ARTS AND MUSIC]
283                 [ARTS AND MUSIC]
284                        [READING]

[285 rows x 3 columns]

In [3]:
df

,sid,posts,interests
0,sid : 324309,roti chickenswarma pita falafel nycfoodgals ro...,"[FOOD, COOKING, CUISINE]"
1,sid : 324470,crepemaster 5th avenue 125th 124th closing sad...,"[FOOD, CURRENT EVENTS]"
2,sid : 324673,purple people bridge take tastes little like e...,"[COOKING, CUISINE, FRIENDSHIP]"
3,sid : 324728,dover fwends thebookinghall big night ouuuuuuu...,"[MUSIC, LIVE EVENTS, TRAVEL]"
4,sid : 324945,dead meme flavor anyonenncr sixtles via twitte...,"[ADVERTISING, SALES]"
...,...,...,...
280,sid : 357066,know go back shooting outfits soon saved phone...,"[CLOTHING, FASHION ACCESSORIES]"
281,sid : 3571213,glove able get fairly close bird fli...,[ARTS AND MUSIC]
282,sid : 3572469,lichen encrusted bench photobombed passing bir...,[ARTS AND MUSIC]
283,sid : 3573923,afternoon much ado tolethorpe wonderful tis se...,[ARTS AND MUSIC]
284,sid : 3577934,theres lots giving lent think thats brilliant ...,[READING]

In [4]:
df['sid'] = df['sid'].str.replace('sid : ', '')
df

,sid,posts,interests
0,324309,roti chickenswarma pita falafel nycfoodgals ro...,"[FOOD, COOKING, CUISINE]"
1,324470,crepemaster 5th avenue 125th 124th closing sad...,"[FOOD, CURRENT EVENTS]"
2,324673,purple people bridge take tastes little like e...,"[COOKING, CUISINE, FRIENDSHIP]"
3,324728,dover fwends thebookinghall big night ouuuuuuu...,"[MUSIC, LIVE EVENTS, TRAVEL]"
4,324945,dead meme flavor anyonenncr sixtles via twitte...,"[ADVERTISING, SALES]"
...,...,...,...
280,357066,know go back shooting outfits soon saved phone...,"[CLOTHING, FASHION ACCESSORIES]"
281,3571213,glove able get fairly close bird fli...,[ARTS AND MUSIC]
282,3572469,lichen encrusted bench photobombed passing bir...,[ARTS AND MUSIC]
283,3573923,afternoon much ado tolethorpe wonderful tis se...,[ARTS AND MUSIC]
284,3577934,theres lots giving lent think thats brilliant ...,[READING]

In [5]:
print(df.loc[0, 'posts'])

roti chickenswarma pita falafel nycfoodgals roti modern mediterranean pita falafel schwarma nycfoodgals zaros bakery nationalbagelday favoriteholiday nycfoodgals vintner wine market prosciutto figjam hellskitchen nyclunch nycfoodgals wayla moosarong meatballs thaifood nycfoodgals butterfly bakeshop customcake nycbakery candyland butterflybakeshop nycfoodgals butterflybakeshop giveawaynin honor pride month justsalad bringing back proud salad giving away 50 gift cards 2 followers nnto enternlike pic follow justsalad nycfoodgals tag friend comments belownn1 comment1 entrynnwinners picked wednesday 65 contest closednn1 every proud salad sold donated nycpride cinnamon snail doughnuts vegan cinnamonsnail nycfoodgals nycfoodgals patsys italian restaurant friedmozzarella cheesepull patsysitalianrestaurant 75years nycfoodgals osprey cobbsalad theosprey 1hotels brooklynbridge nycfoodgals orwashers pecanpie piday orwashers uppereastside nycfoodgals fiaschetteria pistoia tagliatelle blacktuffle eggpasta eastvillage nycfoodgals bubbys pancakes blueberries brunch flatiron bubbys nycfoodgals east village pizza veggie pizza nycfoodgals au zaatar lebanese hummus beets les nycfoodgals uva spongecake nutella hazelnut icecream dessert nycfoodgals uva wine bar restaurant ravioli prosciutto mozzarella mushrooms uva uppereastside nycfoodgals magnolia bakery chocolate hazelnut bananapudding magnolia nycfoodgals gotham coffee house bagel egg cheese avocado uppereastside nycfoodgals malt house nachos themalthouse westvillage nycfoodgals jones wood foundry scotchegg sausage joneswoodfoundry brunch ues nycfoodgals green kitchen oreopancakes greenkitchen ues nycfoodgals misi fettucine misi brooklyn nycfoodgals alidoro capicollo mozzarella sundriedtomatoes alidoro sandwiches nycfoodgals barano italianhummus pesto bread barano williamsburg brooklyn nycfoodgals baranobk patsys italian restaurant tortellini vealsauce 75yearanniversary patsysitalianrestaurant nycfoodgals giveawaynwe partnered zolabakes give away box easter rainbow cookies lucky follower nto enternlike pic follow zolabakes nycfoodgals tag friend comments belown1 comment1 entrynwinner picked saturday 330 sorbillo margherita pizza sorbillonyc nycfoodgals little alley dumplings takeout littlealley nycfoodgals 12 chairs cafe hummus salad brooklyn nycfood 12chairs nycfoodgals meatball shop smash veggieballs ues meatballshop nycfoodgals meatball shop crabcake poboy meatballshop yes nycfoodgals taqueria diana cheese quesadilla williamsburg nycfoodgals sushi bou omakase sushi sushibybou nomad nycfoodgals fresco scotto eggplantparm zucchiniparm frescobyscotto nycfoodgals misi pasta brooklyn misi nycfood nycfoodgals barney brown sandwiches italianplatter barneybrown nycfoodgals sfolatino prosciutto arugula brie uws nycfoodgals yong kang street pokebowl columbuscircle turnstyle nycfoodgals financier pastisserie macaron delicious midtowneast financier nycfoodgals taqueria diana mexicancorn cornporn taqueriadiana willamsburg nycfoodgals giveaway giving away justsalad unlimited salad bowl used get free salads month long may enter follow nycfoodgals justsalad tag 2 friends comments winner picked tuesday contest closed pqr pizza ues nycfoodgals pizzaquadrataromana num pang kitchen banhmi shrimp numpang nycfoodgals dos toros tacosalad sundayblues dostoros nycfoodgals zucchero e pomodori spaghetti zuccheroepomodori nyc ues nycfoodgals angelos pizza panini caprese prosciutto midtown nyclunch nycfoodgals giveawaynwe partnered justsalad give away 50 gift cards 2 lucky followers nto entern like pic follow justsalad nycfoodgals tag friend comments belown1 comment1 entrynwinners picked wednesday 327 contest closed baked melissa cupcakes nycfoodgals days left get mothers day bakes melissa cupcakes still time saturday arrivals sergimmo salumeria salami freshmozzarella balsamic arugula cherrypeppers nycfoodgals lamano tapas chelsea brunch nycfoodgals giveawaynwe partnered justsalad give away 50 gift cards 2 lucky followers nto entern like pic follow justsalad nycfoodgals tag friend comments belown1 comment1 entrynwinners picked thursday 37 contest closed sen sakana sushi sensakana midtown nycfoodgals spring taste nyc doughnuts davidsdonuts springtastenyc nycfoodgals goldbergs famous bagels everythingbagel goldbergs hamptons memorialdayweekend nycfoodgals bread steaksandwich betweenthebread midtownwest nycfoodgals bistro 61 omelet breakfast bistro61nyc uppereastside nycfoodgals lenwich eggwhitedelight breakfast lenwich nycfoodgals giveawaynto celebrate salads new location 46th 3rd giving away 2 50 gift cards justsalad nto enter like pic follow justsalad nycfoodgals tag friend belownmultiple entries allowed winners picked mondayncontest closed rosa mexicano fishtacos ues rosamexicano nycfoodgals daniellos pizzadinnerfoodnycveggieamazingnycpizzabuckovenfoodieheresmyfood bantam bagels bagelballs bantambagels nycfoodgals baked melissa cupcakes halloween bakedbymelissa nycfoodgals marinara pizza mvp marinara vodka pesto pizza midtowneast nycfoodgals grk chicken fries greek midtown nycfoodgals jaques torres cookies chocolate dessert nyc nycfoodgals anthony francos pennevodka margherita pizza sundayfunday nycfoodgals le pain avocadotoast friday lpq midtowneast nycfoodgals le cafe glazed doughnut breakfast monday nycfoodgals le cafe glazed doughnut breakfast monday nycfoodgals forty carrots froyo sprinkles bloomies nycfoodgals

In [6]:
# Explode the DataFrame based on the 'interests' column
df_exploded = df.explode('interests')

# Reset the index of the exploded DataFrame
df_exploded = df_exploded.reset_index(drop=True)

# Display the exploded DataFrame
print(df_exploded)

         sid                                              posts  \
0     324309  roti chickenswarma pita falafel nycfoodgals ro...
1     324309  roti chickenswarma pita falafel nycfoodgals ro...
2     324309  roti chickenswarma pita falafel nycfoodgals ro...
3     324470  crepemaster 5th avenue 125th 124th closing sad...
4     324470  crepemaster 5th avenue 125th 124th closing sad...
..       ...                                                ...
497   357066  know go back shooting outfits soon saved phone...
498  3571213            glove able get fairly close bird fli...
499  3572469  lichen encrusted bench photobombed passing bir...
500  3573923  afternoon much ado tolethorpe wonderful tis se...
501  3577934  theres lots giving lent think thats brilliant ...

               interests
0                   FOOD
1                COOKING
2                CUISINE
3                   FOOD
4         CURRENT EVENTS
..                   ...
497  FASHION ACCESSORIES
498       ARTS AND MUSIC
499       ARTS AND MUSIC
500       ARTS AND MUSIC
501              READING

[502 rows x 3 columns]

In [7]:
df_exploded

,sid,posts,interests
0,324309,roti chickenswarma pita falafel nycfoodgals ro...,FOOD
1,324309,roti chickenswarma pita falafel nycfoodgals ro...,COOKING
2,324309,roti chickenswarma pita falafel nycfoodgals ro...,CUISINE
3,324470,crepemaster 5th avenue 125th 124th closing sad...,FOOD
4,324470,crepemaster 5th avenue 125th 124th closing sad...,CURRENT EVENTS
...,...,...,...
497,357066,know go back shooting outfits soon saved phone...,FASHION ACCESSORIES
498,3571213,glove able get fairly close bird fli...,ARTS AND MUSIC
499,3572469,lichen encrusted bench photobombed passing bir...,ARTS AND MUSIC
500,3573923,afternoon much ado tolethorpe wonderful tis se...,ARTS AND MUSIC
501,3577934,theres lots giving lent think thats brilliant ...,READING

In [8]:
# Convert 'interests' column to single quoted strings
df_exploded['interests'] = df_exploded['interests'].apply(lambda x: "'" + x + "'")

# Display the updated DataFrame
df_exploded

,sid,posts,interests
0,324309,roti chickenswarma pita falafel nycfoodgals ro...,'FOOD'
1,324309,roti chickenswarma pita falafel nycfoodgals ro...,'COOKING'
2,324309,roti chickenswarma pita falafel nycfoodgals ro...,'CUISINE'
3,324470,crepemaster 5th avenue 125th 124th closing sad...,'FOOD'
4,324470,crepemaster 5th avenue 125th 124th closing sad...,'CURRENT EVENTS'
...,...,...,...
497,357066,know go back shooting outfits soon saved phone...,'FASHION ACCESSORIES'
498,3571213,glove able get fairly close bird fli...,'ARTS AND MUSIC'
499,3572469,lichen encrusted bench photobombed passing bir...,'ARTS AND MUSIC'
500,3573923,afternoon much ado tolethorpe wonderful tis se...,'ARTS AND MUSIC'
501,3577934,theres lots giving lent think thats brilliant ...,'READING'

In [9]:
grouped = df_exploded.groupby('interests')

# Create an empty list to store the grouped DataFrames
grouped_dfs = []

# Convert each group into a DataFrame
for interest, group in grouped:
    group_df = pd.DataFrame(group)
    grouped_dfs.append(group_df)

# Concatenate the grouped DataFrames back together
grouped_df = pd.concat(grouped_dfs)

# Reset the index of the DataFrame
grouped_df = grouped_df.reset_index(drop=True)

# Display the grouped DataFrame
print(grouped_df)

         sid                                              posts      interests
0     324945  dead meme flavor anyonenncr sixtles via twitte...  'ADVERTISING'
1     325362  snap guide bossing monday stop tuyolondon pick...  'ADVERTISING'
2     329462  still one favourite shoots chapelprecinct np l...  'ADVERTISING'
3     333790  exhibit garbage good morning iowa dadisfat boo...  'ADVERTISING'
4    3217585  calm sea set beautiful backdrop michjanemiller...  'ADVERTISING'
..       ...                                                ...            ...
497  4340257  terrific villa toscana miami terrific birthday...     'WEDDINGS'
498  3355851  welcome design created gervasoni familys first...     'WEDDINGS'
499  3355851  welcome design created gervasoni familys first...     'WEDDINGS'
500  3475367  divine magical unbelievable divine corporatefu...     'WEDDINGS'
501  3475367  divine magical unbelievable divine corporatefu...     'WEDDINGS'

[502 rows x 3 columns]

In [10]:
grouped_df

         sid                                              posts      interests
0     324945  dead meme flavor anyonenncr sixtles via twitte...  'ADVERTISING'
1     325362  snap guide bossing monday stop tuyolondon pick...  'ADVERTISING'
2     329462  still one favourite shoots chapelprecinct np l...  'ADVERTISING'
3     333790  exhibit garbage good morning iowa dadisfat boo...  'ADVERTISING'
4    3217585  calm sea set beautiful backdrop michjanemiller...  'ADVERTISING'
..       ...                                                ...            ...
497  4340257  terrific villa toscana miami terrific birthday...     'WEDDINGS'
498  3355851  welcome design created gervasoni familys first...     'WEDDINGS'
499  3355851  welcome design created gervasoni familys first...     'WEDDINGS'
500  3475367  divine magical unbelievable divine corporatefu...     'WEDDINGS'
501  3475367  divine magical unbelievable divine corporatefu...     'WEDDINGS'

[502 rows x 3 columns]

In [11]:
grouped_df['interests'].value_counts()

'FOOD'                          59
'TRAVEL'                        51
'ARTS AND MUSIC'                30
'BEAUTY'                        30
'FASHION ACCESSORIES'           30
'CLOTHING'                      28
'CUISINE'                       25
'RESTAURANTS'                   22
'SPORTS'                        20
'FAMILY AND RELATIONSHIPS'      17
'FRIENDSHIP'                    15
'WEDDINGS'                      14
'LIVE EVENTS'                   14
'CURRENT EVENTS'                14
'ADVERTISING'                   13
'MUSIC'                         12
'HOME AND GARDEN'               11
'PETS'                          11
'ARCHITECTURE'                  10
'POLITICS AND SOCIAL ISSUES'     8
'TV'                             7
'SALES'                          6
'PHYSICAL FITNESS'               6
'ALCOHOLIC BEVERAGES'            6
'DESIGN'                         6
'COOKING'                        5
'BEVERAGES'                      5
'VEHICLES'                       4
'OUTDOOR RECREATION'             3
'MOTHERHOOD'                     3
'REAL ESTATE'                    3
'BODYBUILDING'                   3
'MOVIES'                         2
'ECONOMICS'                      2
'READING'                        2
'HEALTH CARE'                    2
'ENTREPRENEURSHIP'               2
'SHOPPING'                       1
Name: interests, dtype: int64

In [12]:
# Drop rows with 'interests' containing "SHOPPING"
grouped_df = grouped_df[~grouped_df['interests'].str.contains('SHOPPING')]

# Reset the index of the DataFrame
grouped_df = grouped_df.reset_index(drop=True)

# Display the resulting DataFrame
grouped_df

         sid                                              posts      interests
0     324945  dead meme flavor anyonenncr sixtles via twitte...  'ADVERTISING'
1     325362  snap guide bossing monday stop tuyolondon pick...  'ADVERTISING'
2     329462  still one favourite shoots chapelprecinct np l...  'ADVERTISING'
3     333790  exhibit garbage good morning iowa dadisfat boo...  'ADVERTISING'
4    3217585  calm sea set beautiful backdrop michjanemiller...  'ADVERTISING'
..       ...                                                ...            ...
496  4340257  terrific villa toscana miami terrific birthday...     'WEDDINGS'
497  3355851  welcome design created gervasoni familys first...     'WEDDINGS'
498  3355851  welcome design created gervasoni familys first...     'WEDDINGS'
499  3475367  divine magical unbelievable divine corporatefu...     'WEDDINGS'
500  3475367  divine magical unbelievable divine corporatefu...     'WEDDINGS'

[501 rows x 3 columns]

In [13]:
grouped_df['interests'].value_counts()

'FOOD'                          59
'TRAVEL'                        51
'ARTS AND MUSIC'                30
'BEAUTY'                        30
'FASHION ACCESSORIES'           30
'CLOTHING'                      28
'CUISINE'                       25
'RESTAURANTS'                   22
'SPORTS'                        20
'FAMILY AND RELATIONSHIPS'      17
'FRIENDSHIP'                    15
'WEDDINGS'                      14
'LIVE EVENTS'                   14
'CURRENT EVENTS'                14
'ADVERTISING'                   13
'MUSIC'                         12
'PETS'                          11
'HOME AND GARDEN'               11
'ARCHITECTURE'                  10
'POLITICS AND SOCIAL ISSUES'     8
'TV'                             7
'PHYSICAL FITNESS'               6
'ALCOHOLIC BEVERAGES'            6
'DESIGN'                         6
'SALES'                          6
'BEVERAGES'                      5
'COOKING'                        5
'VEHICLES'                       4
'OUTDOOR RECREATION'             3
'MOTHERHOOD'                     3
'REAL ESTATE'                    3
'BODYBUILDING'                   3
'ENTREPRENEURSHIP'               2
'READING'                        2
'ECONOMICS'                      2
'MOVIES'                         2
'HEALTH CARE'                    2
Name: interests, dtype: int64

In [14]:
# Get the count of rows for each interest
interest_counts = grouped_df['interests'].value_counts()

# Create empty lists to store the train and test sets
train_data = []
test_data = []

# Iterate over each interest and perform train-test split
for interest in interest_counts.index:
    group = grouped_df[grouped_df['interests'] == interest]
    n_train = int(interest_counts[interest] * 0.75)
    train_examples = group.head(n_train)
    test_examples = group.tail(interest_counts[interest] - n_train)
    train_data.append(train_examples)
    test_data.append(test_examples)

# Concatenate the train and test sets
X_train = pd.concat(train_data)['posts']
X_test = pd.concat(test_data)['posts']
Y_train = pd.concat(train_data)['interests']
Y_test = pd.concat(test_data)['interests']

In [15]:
Y_test

270                'FOOD'
271                'FOOD'
272                'FOOD'
273                'FOOD'
274                'FOOD'
              ...
178    'ENTREPRENEURSHIP'
373             'READING'
176           'ECONOMICS'
331              'MOVIES'
301         'HEALTH CARE'
Name: interests, Length: 140, dtype: object

In [16]:
import torch
from transformers import BertTokenizer, BertForSequenceClassification
from torch.utils.data import TensorDataset, DataLoader, RandomSampler, SequentialSampler
from transformers import AdamW
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# Tokenization
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')

# Encode input sequences
X_train_encoded = tokenizer.batch_encode_plus(X_train.tolist(), padding=True, truncation=True, return_tensors='pt')
X_test_encoded = tokenizer.batch_encode_plus(X_test.tolist(), padding=True, truncation=True, return_tensors='pt')

# Convert labels to one-hot encoding
label_encoder = LabelEncoder()
onehot_encoder = OneHotEncoder(sparse=False)

# Encode training labels
Y_train_encoded = label_encoder.fit_transform(Y_train)
Y_train_onehot = onehot_encoder.fit_transform(Y_train_encoded.reshape(-1, 1))

# Encode test labels
Y_test_encoded = label_encoder.transform(Y_test)
Y_test_onehot = onehot_encoder.transform(Y_test_encoded.reshape(-1, 1))

# Create PyTorch datasets
train_dataset = TensorDataset(
    X_train_encoded['input_ids'],
    X_train_encoded['attention_mask'],
    torch.tensor(Y_train_onehot, dtype=torch.float)
)
test_dataset = TensorDataset(
    X_test_encoded['input_ids'],
    X_test_encoded['attention_mask'],
    torch.tensor(Y_test_onehot, dtype=torch.float)
)

# Define BERT model
model = BertForSequenceClassification.from_pretrained('bert-base-uncased', num_labels=len(grouped_df['interests'].unique()))


# Set device
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
model.to(device)

# Define training parameters
batch_size = 8
num_epochs = 3
learning_rate = 2e-5

# Define data loaders
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=False)

# Define optimizer and loss function
optimizer = AdamW(model.parameters(), lr=learning_rate)
loss_fn = torch.nn.CrossEntropyLoss()

# Training loop
for epoch in range(num_epochs):
    model.train()
    total_loss = 0

    for batch in train_loader:
        input_ids, attention_mask, labels = batch
        input_ids = input_ids.to(device)
        attention_mask = attention_mask.to(device)
        labels = labels.to(device)

        optimizer.zero_grad()

        outputs = model(input_ids=input_ids, attention_mask=attention_mask, labels=labels)
        loss = outputs.loss
        total_loss += loss.item()

        loss.backward()
        optimizer.step()

    average_loss = total_loss / len(train_loader)
    print(f'Epoch {epoch+1}/{num_epochs}, Train Loss: {average_loss:.4f}')

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.bias', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.weight']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
C:\Users\HP-User\anaconda3\lib\site-packages\transformers\optimization.py:407: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(

Epoch 1/3, Train Loss: 0.4772
Epoch 2/3, Train Loss: 0.2705
Epoch 3/3, Train Loss: 0.1888

In [28]:
# Evaluation
model.eval()
correct = 0
total = 0

with torch.no_grad():
    for batch in test_loader:
        input_ids, attention_mask, labels = batch
        input_ids = input_ids.to(device)
        attention_mask = attention_mask.to(device)
        labels = labels.to(device)

        outputs = model(input_ids=input_ids, attention_mask=attention_mask)
        _, predicted = torch.max(outputs[0], dim=1)


        total += labels.size(0)
        correct += (predicted == labels.argmax(dim=1)).sum().item()

accuracy = correct / total
print(f'Test Accuracy: {accuracy:.4f}')

Test Accuracy: 0.1071

In [21]:
print(model.config.num_labels)  # Should output 37

37

In [31]:
import numpy as np

# Prediction
model.eval()
predictions = []

with torch.no_grad():
    for batch in test_loader:
        input_ids, attention_mask, labels = batch
        input_ids = input_ids.to(device)
        attention_mask = attention_mask.to(device)

        outputs = model(input_ids=input_ids, attention_mask=attention_mask)
        probabilities = torch.softmax(outputs.logits, dim=1)
        _, predicted_indices = torch.topk(probabilities, k=3, dim=1)

        for indices in predicted_indices:
            predicted_labels = label_encoder.inverse_transform(indices.cpu().numpy())
            predictions.append(predicted_labels.tolist())

# Compare predictions to actual values
actual_values = Y_test.tolist()

for i in range(len(actual_values)):
    print(f"Example {i+1}:")
    print("Predicted interests:", predictions[i])
    print("Actual interests:", actual_values[i])
    print()

Example 1:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 2:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 3:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 4:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 5:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 6:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 7:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 8:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 9:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 10:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 11:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 12:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 13:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 14:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 15:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FOOD'

Example 16:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 17:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 18:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 19:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 20:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 21:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 22:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 23:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 24:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 25:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 26:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 27:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 28:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TRAVEL'

Example 29:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARTS AND MUSIC'

Example 30:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARTS AND MUSIC'

Example 31:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARTS AND MUSIC'

Example 32:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARTS AND MUSIC'

Example 33:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARTS AND MUSIC'

Example 34:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARTS AND MUSIC'

Example 35:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARTS AND MUSIC'

Example 36:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARTS AND MUSIC'

Example 37:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BEAUTY'

Example 38:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BEAUTY'

Example 39:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BEAUTY'

Example 40:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BEAUTY'

Example 41:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BEAUTY'

Example 42:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BEAUTY'

Example 43:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BEAUTY'

Example 44:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BEAUTY'

Example 45:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FASHION ACCESSORIES'

Example 46:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FASHION ACCESSORIES'

Example 47:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FASHION ACCESSORIES'

Example 48:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FASHION ACCESSORIES'

Example 49:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FASHION ACCESSORIES'

Example 50:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FASHION ACCESSORIES'

Example 51:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FASHION ACCESSORIES'

Example 52:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FASHION ACCESSORIES'

Example 53:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CLOTHING'

Example 54:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CLOTHING'

Example 55:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CLOTHING'

Example 56:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CLOTHING'

Example 57:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CLOTHING'

Example 58:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CLOTHING'

Example 59:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CLOTHING'

Example 60:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CUISINE'

Example 61:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CUISINE'

Example 62:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CUISINE'

Example 63:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CUISINE'

Example 64:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CUISINE'

Example 65:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CUISINE'

Example 66:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CUISINE'

Example 67:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'RESTAURANTS'

Example 68:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'RESTAURANTS'

Example 69:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'RESTAURANTS'

Example 70:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'RESTAURANTS'

Example 71:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'RESTAURANTS'

Example 72:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'RESTAURANTS'

Example 73:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'SPORTS'

Example 74:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'SPORTS'

Example 75:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'SPORTS'

Example 76:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'SPORTS'

Example 77:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'SPORTS'

Example 78:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FAMILY AND RELATIONSHIPS'

Example 79:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FAMILY AND RELATIONSHIPS'

Example 80:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FAMILY AND RELATIONSHIPS'

Example 81:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FAMILY AND RELATIONSHIPS'

Example 82:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FAMILY AND RELATIONSHIPS'

Example 83:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FRIENDSHIP'

Example 84:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FRIENDSHIP'

Example 85:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FRIENDSHIP'

Example 86:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'FRIENDSHIP'

Example 87:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'WEDDINGS'

Example 88:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'WEDDINGS'

Example 89:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'WEDDINGS'

Example 90:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'WEDDINGS'

Example 91:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'LIVE EVENTS'

Example 92:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'LIVE EVENTS'

Example 93:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'LIVE EVENTS'

Example 94:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'LIVE EVENTS'

Example 95:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CURRENT EVENTS'

Example 96:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CURRENT EVENTS'

Example 97:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CURRENT EVENTS'

Example 98:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'CURRENT EVENTS'

Example 99:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ADVERTISING'

Example 100:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ADVERTISING'

Example 101:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ADVERTISING'

Example 102:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ADVERTISING'

Example 103:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'MUSIC'

Example 104:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'MUSIC'

Example 105:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'MUSIC'

Example 106:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'PETS'

Example 107:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'PETS'

Example 108:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'PETS'

Example 109:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'HOME AND GARDEN'

Example 110:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'HOME AND GARDEN'

Example 111:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'HOME AND GARDEN'

Example 112:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARCHITECTURE'

Example 113:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARCHITECTURE'

Example 114:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ARCHITECTURE'

Example 115:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'POLITICS AND SOCIAL ISSUES'

Example 116:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'POLITICS AND SOCIAL ISSUES'

Example 117:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TV'

Example 118:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'TV'

Example 119:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'PHYSICAL FITNESS'

Example 120:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'PHYSICAL FITNESS'

Example 121:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ALCOHOLIC BEVERAGES'

Example 122:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ALCOHOLIC BEVERAGES'

Example 123:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'DESIGN'

Example 124:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'DESIGN'

Example 125:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'SALES'

Example 126:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'SALES'

Example 127:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BEVERAGES'

Example 128:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BEVERAGES'

Example 129:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'COOKING'

Example 130:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'COOKING'

Example 131:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'VEHICLES'

Example 132:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'OUTDOOR RECREATION'

Example 133:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'MOTHERHOOD'

Example 134:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'REAL ESTATE'

Example 135:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'BODYBUILDING'

Example 136:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ENTREPRENEURSHIP'

Example 137:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'READING'

Example 138:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'ECONOMICS'

Example 139:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'MOVIES'

Example 140:
Predicted interests: ["'FOOD'", "'TRAVEL'", "'MUSIC'"]
Actual interests: 'HEALTH CARE'